<div class="product-detail-container" *ngIf="product">
  <img [src]="product.imageUrl" class="product-detail-image" alt="Imagen del producto" />

  <div class="product-detail-info">
    <div>
      <h2>{{ product.nombre }}</h2>
      <p class="detail-description">{{ product.descripcion }}</p>

      <p><strong>Categoría:</strong> {{ product.categoria }}</p>
      <p><strong>Marca:</strong> {{ product.marca }}</p>
      <p><strong>Stock disponible:</strong> {{ product.stock }}</p>

      <div class="product-detail-price">${{ product.precio }}</div>
    </div>

    <div class="product-detail-actions">
      <button class="btn-buy">Comprar ahora</button>
      <button class="btn-back" (click)="goBack()">Volver</button>
    </div>
  </div>
</div>
