

<footer class="custom-footer">
    <div class="container">
      <div class="row">
        <!-- Redes sociales -->
        <div class="col-12 d-flex gap-2 social-icons">
          <i class="bi bi-x"></i>
          <i class="bi bi-instagram"></i>
          <i class="bi bi-youtube"></i>
          <i class="bi bi-linkedin"></i>
        </div>
  
        <!-- Secciones de enlaces -->
        <div class="col-md-4">
          <h6>Servicio al Cliente</h6>
          <ul class="list-unstyled">
            <li><a href="#">Empresa</a></li>
            <li><a href="#">Garantías</a></li>
            <li><a href="#">Medios de Pago</a></li>
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Política de Protección de datos personales</a></li>
            <li><a href="#">Team collaboration</a></li>
          </ul>
        </div>
  
        <div class="col-md-4">
          <h6>Mi cuenta</h6>
          <ul class="list-unstyled">
            <li><a href="#">Regístrate</a></li>
            <li><a href="#">Cambio de clave</a></li>
            <li><a href="#">Olvidé mi clave</a></li>
          </ul>
        </div>
  
        <div class="col-md-4">
          <h6>Haz parte de nuestra empresa</h6>
          <ul class="list-unstyled">
            <li><a href="#">Vende en JDC-commerce</a></li>
            <li><a href="#">Información e inversionistas</a></li>
            <li><a href="#">Información proveedores</a></li>
            <li><a href="#">Línea de ética</a></li>
            <li><a href="#">Soporte</a></li>
          </ul>
        </div>
      </div>
    </div>
 
  
